annotated-types==0.7.0
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
kafka-python==2.3.2
loguru==0.7.3
py4j==0.10.9.9
pydantic==2.13.4
pydantic_core==2.46.4
pyspark==4.1.2
python-dotenv==1.2.2
requests==2.34.2
schedule==1.2.2
tenacity==9.1.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
